node-red/.flows.json.backup
[
    {
        "id": "37999168f7331a03",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7eac0d34c6842661",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d2a5e96dc4978ef",
        "type": "group",
        "z": "37999168f7331a03",
        "name": "Slider postion",
        "style": {
            "label": true,
            "fill": "#ffbfbf"
        },
        "nodes": [
            "84e45d7c19fb9d8d",
            "17f69681dcd54b6c",
            "a0ee0d71923247ed",
            "deae720cf7e1ecfb",
            "e16ae74394fe3f54",
            "0ccfcf9c98d31575",
            "3c2f055ece84e4a4",
            "c26056e51157a08f",
            "8a52c0a8b35e27d9",
            "4eb28724e0894bd3",
            "4b8f534fe1e0a7d1",
            "d3cf038403c64ef4",
            "0abcabe4fda9f399",
            "40e281b84f552e85",
            "2e8a4ae005aa73d7",
            "0c49c72d029603c0",
            "9e8be0a2fc309c3a",
            "472ac383abe82e21",
            "684a4d86441756cd"
        ],
        "x": 14,
        "y": 59,
        "w": 952,
        "h": 502
    },
    {
        "id": "f6ed4aabf676c162",
        "type": "group",
        "z": "37999168f7331a03",
        "name": "Affichage bras robot",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "5319a1cbcbb3f4ea",
            "69311a6ea589cc66",
            "d5acd84142090c52",
            "e630ec1249b6f443",
            "8cce308cc6adfd71",
            "065878d498fc7a66",
            "f15c315296f0bc0b",
            "0dc307414f2d4259",
            "2ae205ae282f9385",
            "ed90c8abb10bebd4",
            "ec9c7cf577d7d3c2",
            "1ec5a69273e75098",
            "b351b8e8f522514d",
            "9417c78697c1fc1c",
            "f4795ffb838691d2",
            "aa3697932ec09553",
            "8ae62da8e903d221",
            "3ac78f8cc1edb040",
            "a8db967f3a791a24",
            "14def29bfdad08e9",
            "76ccd43e060e85c8",
            "5de9a5720b7fb4f8",
            "0445fe2a66f40851"
        ],
        "x": 1274,
        "y": 399,
        "w": 932,
        "h": 802
    },
    {
        "id": "db6e9ffd1ee575de",
        "type": "group",
        "z": "7eac0d34c6842661",
        "name": "Topic selection",
        "style": {
            "fill": "#dbcbe7",
            "label": true
        },
        "nodes": [
            "2e73d3539b370f2e",
            "ad063e52d51fec2f",
            "5698da2f9ab4c85e",
            "68b1bfde2bfbaa49",
            "4d8a2e2e37a13832",
            "a1723a3f219aec55",
            "46214fd49d9e1022",
            "a024c7f35c51da3c",
            "36a3fe263df9fbab",
            "9e0d58542b489367"
        ],
        "x": 14,
        "y": 59,
        "w": 932,
        "h": 222
    },
    {
        "id": "86aa23bf3b1e6449",
        "type": "group",
        "z": "7eac0d34c6842661",
        "name": "Record bag",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "644156479f22f0c9",
            "7194f46e9a5190e2",
            "09491869ce0a5c8d",
            "1db2200d08c777e6",
            "77458c416232bac4",
            "4a5f422bd8b69ccf",
            "e2af7c4b284ed16e",
            "fc233579cf804a40",
            "dc0d48b2f00683af",
            "779fb24e15e1cf94",
            "9e3011a5e9bb0cff",
            "b28498b9c68057ed",
            "0894658fb8624d8e",
            "afc2bd05f2e8482c",
            "d389cfe6813fb929",
            "47f587318557bdf9",
            "35724e8a79eb4580",
            "8e65fa084b0fff2a",
            "6c77795a704531a6",
            "b4bac91564af5c7f",
            "ec278fe61b7f2736",
            "ea38035bc9213be6"
        ],
        "x": 14,
        "y": 311.5,
        "w": 1492,
        "h": 409.5
    },
    {
        "id": "4c874896217ac7b4",
        "type": "group",
        "z": "37999168f7331a03",
        "name": "Set position inverse kinematics",
        "style": {
            "label": true,
            "fill": "#dbcbe7"
        },
        "nodes": [
            "827521128ba2a3b5",
            "9eda2d1fea34245a",
            "4a638d86ef5e8668",
            "97968317caf492ac",
            "003e159c343fc4ce",
            "3af1b62d749f811d",
            "dddd74cf2d2572b7",
            "bd4f6896a346efbf",
            "74e42fc3b107c7df",
            "a43072f68d7879d0",
            "ad5d98db099f9bd8",
            "a29c9b80fdf3fb62",
            "dc40da18fe1a285a",
            "fdc26c8430a05c37",
            "66f09747baa259ac",
            "b6806d742e39d6fb",
            "58058860c6c9c34e",
            "d77407cef4a106c5",
            "ad7d9b5fd90f4a68",
            "8f4ff7d9fc1da06e",
            "457a6559686f5de2",
            "75f77fca1b1272ec",
            "a43e00118f8bbb05",
            "876a3bba54fc945c",
            "657ee7743a3c8107",
            "2c18ecb55d7cde61",
            "33b204ca5682175a",
            "a2246a073cbad85d"
        ],
        "x": 14,
        "y": 599,
        "w": 1212,
        "h": 562
    },
    {
        "id": "80473e158615c07b",
        "type": "group",
        "z": "37999168f7331a03",
        "name": "Affichage caméra",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "5f2a5969dbf68176",
            "9dc34fdcdc9981d0",
            "e34aea13825b7d02",
            "7270a4ed88f9e32f",
            "9259c0b0397596f1",
            "d1df697965558511",
            "3e832aa260cde4be",
            "42145458cfe2a7f2",
            "1fba95fd6322f2c6",
            "df23868f08518eac",
            "861ee3faf20193d5"
        ],
        "x": 994,
        "y": 71.5,
        "w": 1292,
        "h": 289.5
    },
    {
        "id": "0a82d6cde910b9ce",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "cfa065d11e3b61bc",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#b5835a",
            "bgPage": "#deddda",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "f04468f063e29700",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "0a82d6cde910b9ce",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "cfa065d11e3b61bc",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "4"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c6254e014e651581",
        "type": "ui-group",
        "name": "Bouger",
        "page": "f04468f063e29700",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "21747916cf925f88",
        "type": "ros2-config",
        "domain": 0,
        "namespace": ""
    },
    {
        "id": "d341331ddf01e772",
        "type": "ui-group",
        "name": "Positions",
        "page": "f04468f063e29700",
        "width": "1",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f06a655d37487b58",
        "type": "ui-group",
        "name": "Vitesses",
        "page": "f04468f063e29700",
        "width": "1",
        "height": "6",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "db220814bdc828f4",
        "type": "ui-group",
        "name": "Effort",
        "page": "f04468f063e29700",
        "width": "1",
        "height": "6",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "911a8391df042a1b",
        "type": "ui-group",
        "name": "Dépacement point",
        "page": "f04468f063e29700",
        "width": "3",
        "height": "3",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "28ca805dbd7d934e",
        "type": "ui-group",
        "name": "Caméra",
        "page": "f04468f063e29700",
        "width": 6,
        "height": 1,
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e93ac04dd14c7c41",
        "type": "ui-page",
        "name": "Record Data",
        "ui": "0a82d6cde910b9ce",
        "path": "/page2",
        "icon": "camera",
        "layout": "flex",
        "theme": "cfa065d11e3b61bc",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8fa215b2d22c10a1",
        "type": "ui-group",
        "name": "Record",
        "page": "e93ac04dd14c7c41",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "819c0672e591b0ca",
        "type": "ui-group",
        "name": "Data",
        "page": "e93ac04dd14c7c41",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5f6433eaaffe09b8",
        "type": "ui-group",
        "name": "Playback",
        "page": "e93ac04dd14c7c41",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "84e45d7c19fb9d8d",
        "type": "ui-slider",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "group": "c6254e014e651581",
        "name": "shoulder_lift",
        "label": "shoulder_lift",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "j2",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-360",
        "max": "360",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "4b8f534fe1e0a7d1"
            ]
        ]
    },
    {
        "id": "17f69681dcd54b6c",
        "type": "ui-slider",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "group": "c6254e014e651581",
        "name": "",
        "label": "elbow",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "j3",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-360",
        "max": "360",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "d3cf038403c64ef4"
            ]
        ]
    },
    {
        "id": "a0ee0d71923247ed",
        "type": "ui-slider",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "group": "c6254e014e651581",
        "name": "",
        "label": "wrist_1",
        "tooltip": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "j4",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-360",
        "max": "360",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "0abcabe4fda9f399"
            ]
        ]
    },
    {
        "id": "deae720cf7e1ecfb",
        "type": "ui-slider",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "group": "c6254e014e651581",
        "name": "",
        "label": "wrist_2",
        "tooltip": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "j5",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-360",
        "max": "360",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "40e281b84f552e85"
            ]
        ]
    },
    {
        "id": "e16ae74394fe3f54",
        "type": "ui-slider",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "group": "c6254e014e651581",
        "name": "",
        "label": "wrist_3",
        "tooltip": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "j6",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-360",
        "max": "360",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "2e8a4ae005aa73d7"
            ]
        ]
    },
    {
        "id": "0ccfcf9c98d31575",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "name": "set_movement",
        "func": "let joints = flow.get(\"joints\") || [0,0,0,0,0,0];\n\njoints[msg.joint] = Number(msg.payload) * Math.PI / 180;;\n\nflow.set(\"joints\", joints);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3c2f055ece84e4a4",
        "type": "ui-button",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "group": "c6254e014e651581",
        "name": "Valider pose",
        "label": "Valider",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "gesture-tap",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "c26056e51157a08f"
            ]
        ]
    },
    {
        "id": "c26056e51157a08f",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "name": "recuperation joint pose",
        "func": "let joints = flow.get(\"joints\") || [0,0,0,0,0,0];\n\nmsg.payload = {\n    joint_names: [\n        \"shoulder_pan_joint\",\n        \"shoulder_lift_joint\",\n        \"elbow_joint\",\n        \"wrist_1_joint\",\n        \"wrist_2_joint\",\n        \"wrist_3_joint\"\n    ],\n    points: [\n        {\n            positions: joints,\n            time_from_start: {\n                sec: 3,\n                nanosec: 0\n            }\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [
            [
                "8a52c0a8b35e27d9"
            ]
        ]
    },
    {
        "id": "8a52c0a8b35e27d9",
        "type": "ROS2 Type",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "ros2pkg": "trajectory_msgs",
        "ros2message": "JointTrajectory",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "684a4d86441756cd"
            ]
        ]
    },
    {
        "id": "4eb28724e0894bd3",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "joint",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "0ccfcf9c98d31575"
            ]
        ]
    },
    {
        "id": "4b8f534fe1e0a7d1",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "joint",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "0ccfcf9c98d31575"
            ]
        ]
    },
    {
        "id": "d3cf038403c64ef4",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "joint",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "0ccfcf9c98d31575"
            ]
        ]
    },
    {
        "id": "0abcabe4fda9f399",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "joint",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "0ccfcf9c98d31575"
            ]
        ]
    },
    {
        "id": "40e281b84f552e85",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "joint",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "0ccfcf9c98d31575"
            ]
        ]
    },
    {
        "id": "2e8a4ae005aa73d7",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "joint",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "0ccfcf9c98d31575"
            ]
        ]
    },
    {
        "id": "5319a1cbcbb3f4ea",
        "type": "ROS2 Type",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "ros2pkg": "sensor_msgs",
        "ros2message": "JointState",
        "x": 1410,
        "y": 800,
        "wires": [
            [
                "69311a6ea589cc66"
            ]
        ]
    },
    {
        "id": "69311a6ea589cc66",
        "type": "Subscriber",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "topic": "/joint_states",
        "ros2_config": "21747916cf925f88",
        "props": [],
        "selectedtype": "sensor_msgs/msg/JointState",
        "x": 1650,
        "y": 800,
        "wires": [
            [
                "d5acd84142090c52",
                "ed90c8abb10bebd4",
                "8ae62da8e903d221"
            ]
        ]
    },
    {
        "id": "d5acd84142090c52",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "name": "spilt position",
        "func": "let joints = {};\n\nfor (let i = 0; i < msg.payload.name.length; i++) {\n    joints[msg.payload.name[i]] = (msg.payload.position[i] * 180 / Math.PI).toFixed(2) + \"°\";\n}\n\nreturn [\n    { payload: joints.shoulder_pan_joint },\n    { payload: joints.shoulder_lift_joint },\n    { payload: joints.elbow_joint },\n    { payload: joints.wrist_1_joint },\n    { payload: joints.wrist_2_joint },\n    { payload: joints.wrist_3_joint }\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 540,
        "wires": [
            [
                "e630ec1249b6f443"
            ],
            [
                "8cce308cc6adfd71"
            ],
            [
                "065878d498fc7a66"
            ],
            [
                "f15c315296f0bc0b"
            ],
            [
                "0dc307414f2d4259"
            ],
            [
                "2ae205ae282f9385"
            ]
        ]
    },
    {
        "id": "0c49c72d029603c0",
        "type": "ui-slider",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "group": "c6254e014e651581",
        "name": "shoulder_pan",
        "label": "shoulder_pan",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "j1",
        "topicType": "global",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-360",
        "max": "360",
        "step": "1",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "4eb28724e0894bd3"
            ]
        ]
    },
    {
        "id": "e630ec1249b6f443",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "d341331ddf01e772",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "shoulder_pan",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2100,
        "y": 440,
        "wires": []
    },
    {
        "id": "8cce308cc6adfd71",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "d341331ddf01e772",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "shoulder_lift",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2090,
        "y": 480,
        "wires": []
    },
    {
        "id": "065878d498fc7a66",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "d341331ddf01e772",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "elbow",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2070,
        "y": 520,
        "wires": []
    },
    {
        "id": "f15c315296f0bc0b",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "d341331ddf01e772",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "wrist_1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2080,
        "y": 560,
        "wires": []
    },
    {
        "id": "0dc307414f2d4259",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "d341331ddf01e772",
        "order": 5,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "wrist_2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2080,
        "y": 600,
        "wires": []
    },
    {
        "id": "2ae205ae282f9385",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "d341331ddf01e772",
        "order": 6,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "wrist_3",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2080,
        "y": 640,
        "wires": []
    },
    {
        "id": "ed90c8abb10bebd4",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "name": "spilt position",
        "func": "let joints = {};\n\nfor (let i = 0; i < msg.payload.name.length; i++) {\n    joints[msg.payload.name[i]] = (msg.payload.velocity[i] * 180 / Math.PI).toFixed(2) + \"°/s\";\n}\n\nreturn [\n    { payload: joints.shoulder_pan_joint },\n    { payload: joints.shoulder_lift_joint },\n    { payload: joints.elbow_joint },\n    { payload: joints.wrist_1_joint },\n    { payload: joints.wrist_2_joint },\n    { payload: joints.wrist_3_joint }\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 800,
        "wires": [
            [
                "ec9c7cf577d7d3c2"
            ],
            [
                "1ec5a69273e75098"
            ],
            [
                "b351b8e8f522514d"
            ],
            [
                "9417c78697c1fc1c"
            ],
            [
                "f4795ffb838691d2"
            ],
            [
                "aa3697932ec09553"
            ]
        ]
    },
    {
        "id": "ec9c7cf577d7d3c2",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "f06a655d37487b58",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "shoulder_pan",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2100,
        "y": 700,
        "wires": []
    },
    {
        "id": "1ec5a69273e75098",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "f06a655d37487b58",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "shoulder_lift",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2090,
        "y": 740,
        "wires": []
    },
    {
        "id": "b351b8e8f522514d",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "f06a655d37487b58",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "elbow",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2070,
        "y": 780,
        "wires": []
    },
    {
        "id": "9417c78697c1fc1c",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "f06a655d37487b58",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "wrist_1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2080,
        "y": 820,
        "wires": []
    },
    {
        "id": "f4795ffb838691d2",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "f06a655d37487b58",
        "order": 5,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "wrist_2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2080,
        "y": 860,
        "wires": []
    },
    {
        "id": "aa3697932ec09553",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "f06a655d37487b58",
        "order": 6,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "wrist_3",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2080,
        "y": 900,
        "wires": []
    },
    {
        "id": "8ae62da8e903d221",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "name": "spilt position",
        "func": "let joints = {};\n\nfor (let i = 0; i < msg.payload.name.length; i++) {\n    joints[msg.payload.name[i]] = (msg.payload.effort[i] * 180 / Math.PI).toFixed(2);\n}\n\nreturn [\n    { payload: joints.shoulder_pan_joint },\n    { payload: joints.shoulder_lift_joint },\n    { payload: joints.elbow_joint },\n    { payload: joints.wrist_1_joint },\n    { payload: joints.wrist_2_joint },\n    { payload: joints.wrist_3_joint }\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 1060,
        "wires": [
            [
                "3ac78f8cc1edb040"
            ],
            [
                "a8db967f3a791a24"
            ],
            [
                "14def29bfdad08e9"
            ],
            [
                "76ccd43e060e85c8"
            ],
            [
                "5de9a5720b7fb4f8"
            ],
            [
                "0445fe2a66f40851"
            ]
        ]
    },
    {
        "id": "3ac78f8cc1edb040",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "db220814bdc828f4",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "shoulder_pan",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2100,
        "y": 960,
        "wires": []
    },
    {
        "id": "a8db967f3a791a24",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "db220814bdc828f4",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "shoulder_lift",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2090,
        "y": 1000,
        "wires": []
    },
    {
        "id": "14def29bfdad08e9",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "db220814bdc828f4",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "elbow",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2070,
        "y": 1040,
        "wires": []
    },
    {
        "id": "76ccd43e060e85c8",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "db220814bdc828f4",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "wrist_1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2080,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5de9a5720b7fb4f8",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "db220814bdc828f4",
        "order": 5,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "wrist_2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2080,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0445fe2a66f40851",
        "type": "ui-text",
        "z": "37999168f7331a03",
        "g": "f6ed4aabf676c162",
        "group": "db220814bdc828f4",
        "order": 6,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "wrist_3",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 2080,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9e8be0a2fc309c3a",
        "type": "ui-button",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "group": "c6254e014e651581",
        "name": "Home pose",
        "label": "Home",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "home",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "472ac383abe82e21"
            ]
        ]
    },
    {
        "id": "472ac383abe82e21",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "name": "recuperation joint home",
        "func": "msg.payload = {\n    joint_names: [\n        \"shoulder_pan_joint\",\n        \"shoulder_lift_joint\",\n        \"elbow_joint\",\n        \"wrist_1_joint\",\n        \"wrist_2_joint\",\n        \"wrist_3_joint\"\n    ],\n    points: [\n        {\n            positions: [0,-1.57,1.57,-1.57,0,0],\n            time_from_start: {\n                sec: 3,\n                nanosec: 0\n            }\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "8a52c0a8b35e27d9"
            ]
        ]
    },
    {
        "id": "d77407cef4a106c5",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "function 1",
        "func": "let pos = flow.get(\"pos\") || {x: 0,y: 0, z: 0};\nlet rot = flow.get(\"rot\") || { x: 0, y: 0, z: 0, w: 0};\n\nmsg.payload = {\n    header: {\n        frame_id: \"base_link\"\n    },\n    pose: {\n        position: pos,\n        orientation: rot\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1000,
        "wires": [
            [
                "8f4ff7d9fc1da06e"
            ]
        ]
    },
    {
        "id": "9eda2d1fea34245a",
        "type": "ui-number-input",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "group": "911a8391df042a1b",
        "name": "",
        "label": "x",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": "-50",
        "max": "50",
        "step": "1",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "827521128ba2a3b5"
            ]
        ]
    },
    {
        "id": "4a638d86ef5e8668",
        "type": "ui-number-input",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "group": "911a8391df042a1b",
        "name": "",
        "label": "y",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": "-50",
        "max": "50",
        "step": "1",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 90,
        "y": 680,
        "wires": [
            [
                "003e159c343fc4ce"
            ]
        ]
    },
    {
        "id": "97968317caf492ac",
        "type": "ui-number-input",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "group": "911a8391df042a1b",
        "name": "",
        "label": "z",
        "order": 3,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": "-50",
        "max": "50",
        "step": "1",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "3af1b62d749f811d"
            ]
        ]
    },
    {
        "id": "827521128ba2a3b5",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pos",
                "pt": "msg",
                "to": "x",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 640,
        "wires": [
            [
                "a43072f68d7879d0"
            ]
        ]
    },
    {
        "id": "003e159c343fc4ce",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pos",
                "pt": "msg",
                "to": "y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 680,
        "wires": [
            [
                "a43072f68d7879d0"
            ]
        ]
    },
    {
        "id": "3af1b62d749f811d",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pos",
                "pt": "msg",
                "to": "z",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 720,
        "wires": [
            [
                "a43072f68d7879d0"
            ]
        ]
    },
    {
        "id": "dddd74cf2d2572b7",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rot",
                "pt": "msg",
                "to": "x",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 800,
        "wires": [
            [
                "ad5d98db099f9bd8"
            ]
        ]
    },
    {
        "id": "bd4f6896a346efbf",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rot",
                "pt": "msg",
                "to": "y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 840,
        "wires": [
            [
                "ad5d98db099f9bd8"
            ]
        ]
    },
    {
        "id": "74e42fc3b107c7df",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rot",
                "pt": "msg",
                "to": "z",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 880,
        "wires": [
            [
                "ad5d98db099f9bd8"
            ]
        ]
    },
    {
        "id": "a43072f68d7879d0",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "set_pos",
        "func": "let pos = flow.get(\"pos\") || {x: 0,y: 0, z: 0};\n\npos[msg.pos] = Number(msg.payload)/100;\n\nflow.set(\"pos\", pos);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ad7d9b5fd90f4a68",
        "type": "ui-button",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "group": "911a8391df042a1b",
        "name": "Valider point",
        "label": "Valider",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "gesture-tap",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "d77407cef4a106c5"
            ]
        ]
    },
    {
        "id": "ad5d98db099f9bd8",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "set_rot",
        "func": "let rot = flow.get(\"rot\") || { x: 0, y: 0, z: 0, w: 0};\n\nrot[msg.rot] = Number(msg.payload) * Math.PI / 180;\n\nflow.set(\"rot\", rot);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a29c9b80fdf3fb62",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rot",
                "pt": "msg",
                "to": "w",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 920,
        "wires": [
            [
                "ad5d98db099f9bd8"
            ]
        ]
    },
    {
        "id": "dc40da18fe1a285a",
        "type": "ui-slider",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "group": "911a8391df042a1b",
        "name": "",
        "label": "rot x",
        "tooltip": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "j4",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-360",
        "max": "360",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 90,
        "y": 800,
        "wires": [
            [
                "dddd74cf2d2572b7"
            ]
        ]
    },
    {
        "id": "fdc26c8430a05c37",
        "type": "ui-slider",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "group": "911a8391df042a1b",
        "name": "",
        "label": "rot y",
        "tooltip": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "j4",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-360",
        "max": "360",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 90,
        "y": 840,
        "wires": [
            [
                "bd4f6896a346efbf"
            ]
        ]
    },
    {
        "id": "66f09747baa259ac",
        "type": "ui-slider",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "group": "911a8391df042a1b",
        "name": "",
        "label": "rot z",
        "tooltip": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "j4",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-360",
        "max": "360",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 90,
        "y": 880,
        "wires": [
            [
                "74e42fc3b107c7df"
            ]
        ]
    },
    {
        "id": "b6806d742e39d6fb",
        "type": "ui-slider",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "group": "911a8391df042a1b",
        "name": "",
        "label": "rot w",
        "tooltip": "",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "j4",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "false",
        "min": "-360",
        "max": "360",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 90,
        "y": 920,
        "wires": [
            [
                "a29c9b80fdf3fb62"
            ]
        ]
    },
    {
        "id": "75f77fca1b1272ec",
        "type": "switch",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SUCCESS",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 1100,
        "wires": [
            [
                "876a3bba54fc945c"
            ],
            [
                "a2246a073cbad85d"
            ]
        ]
    },
    {
        "id": "a43e00118f8bbb05",
        "type": "ui-notification",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "ui": "0a82d6cde910b9ce",
        "position": "top right",
        "colorDefault": false,
        "color": "#33d17a",
        "displayTime": "2",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "position OK",
        "x": 1110,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "58058860c6c9c34e",
        "type": "Publisher",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "topic": "/target_pose",
        "ros2_config": "21747916cf925f88",
        "props": [],
        "selectedtype": "geometry_msgs/msg/PoseStamped",
        "x": 800,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "8f4ff7d9fc1da06e",
        "type": "ROS2 Type",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "ros2pkg": "geometry_msgs",
        "ros2message": "PoseStamped",
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "58058860c6c9c34e"
            ]
        ]
    },
    {
        "id": "876a3bba54fc945c",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Opération réussie",
                "tot": "str",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1080,
        "wires": [
            [
                "a43e00118f8bbb05"
            ]
        ]
    },
    {
        "id": "684a4d86441756cd",
        "type": "Publisher",
        "z": "37999168f7331a03",
        "g": "2d2a5e96dc4978ef",
        "topic": "/scaled_joint_trajectory_controller/joint_trajectory",
        "ros2_config": "21747916cf925f88",
        "props": [],
        "selectedtype": "trajectory_msgs/msg/JointTrajectory",
        "x": 860,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "657ee7743a3c8107",
        "type": "Subscriber",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "topic": "/move_result",
        "ros2_config": "21747916cf925f88",
        "props": [],
        "selectedtype": "std_msgs/msg/String",
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "33b204ca5682175a"
            ]
        ]
    },
    {
        "id": "2c18ecb55d7cde61",
        "type": "ROS2 Type",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "ros2pkg": "std_msgs",
        "ros2message": "String",
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "657ee7743a3c8107"
            ]
        ]
    },
    {
        "id": "33b204ca5682175a",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "function 2",
        "func": "msg.payload = msg.payload.data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1100,
        "wires": [
            [
                "75f77fca1b1272ec"
            ]
        ]
    },
    {
        "id": "457a6559686f5de2",
        "type": "ui-notification",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "ui": "0a82d6cde910b9ce",
        "position": "top right",
        "colorDefault": false,
        "color": "#e01b24",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Position pas OK",
        "x": 1120,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "a2246a073cbad85d",
        "type": "change",
        "z": "37999168f7331a03",
        "g": "4c874896217ac7b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Position trop lointaine",
                "tot": "str",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1120,
        "wires": [
            [
                "457a6559686f5de2"
            ]
        ]
    },
    {
        "id": "5f2a5969dbf68176",
        "type": "exec",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "command": "ros2 topic find sensor_msgs/msg/Image",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1400,
        "y": 280,
        "wires": [
            [
                "3e832aa260cde4be"
            ],
            [],
            []
        ]
    },
    {
        "id": "9dc34fdcdc9981d0",
        "type": "exec",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "command": "ros2 run web_video_server web_video_server",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1420,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e34aea13825b7d02",
        "type": "inject",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "name": "Run vidéo server",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "x": 1130,
        "y": 120,
        "wires": [
            [
                "9dc34fdcdc9981d0"
            ]
        ]
    },
    {
        "id": "7270a4ed88f9e32f",
        "type": "exec",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "command": "pkill -2 -f web_video_server",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1360,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9259c0b0397596f1",
        "type": "inject",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1130,
        "y": 200,
        "wires": [
            [
                "7270a4ed88f9e32f"
            ]
        ]
    },
    {
        "id": "d1df697965558511",
        "type": "inject",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "name": "find topics",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 1130,
        "y": 280,
        "wires": [
            [
                "5f2a5969dbf68176"
            ]
        ]
    },
    {
        "id": "3e832aa260cde4be",
        "type": "function",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "name": "function 4",
        "func": "const forbidden = [\n    \"depth\",\n    \"infra\",\n    \"compressed\",\n    \"compressedDepth\",\n    \"theora\",\n    \"zstd\",\n    \"metadata\",\n    \"camera_info\",\n    \"extrinsics\"\n];\n\nlet topics = msg.payload.split(\"\\n\");\n\ntopics = topics\n    .map(t => t.trim())\n    .filter(t =>\n        t.length > 0 &&\n        !forbidden.some(word => t.includes(word))\n    );\n\nmsg.ui_update = {};\n\nmsg.payload = \"\"\n\nmsg.ui_update.options = topics.map(topic => ({\n    value: \"http://localhost:8080/stream?topic=\" +\n           topic,\n    label: topic\n}));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 260,
        "wires": [
            [
                "1fba95fd6322f2c6"
            ]
        ]
    },
    {
        "id": "42145458cfe2a7f2",
        "type": "ui-template",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "group": "28ca805dbd7d934e",
        "page": "",
        "ui": "",
        "name": "Affichage Caméra",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <img\n        v-if=\"msg.payload\"\n        :src=\"msg.payload + '&t=' + Date.now()\"\n        style=\"width:100%;border-radius:8px;\"\n    />\n\n        <v-alert v-else type=\"warning\" variant=\"tonal\">\n            Aucune caméra sélectionnée\n        </v-alert>\n\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2170,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1fba95fd6322f2c6",
        "type": "ui-dropdown",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "group": "28ca805dbd7d934e",
        "name": "",
        "label": "Select Option:",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "chips": false,
        "clearable": true,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 1920,
        "y": 260,
        "wires": [
            [
                "42145458cfe2a7f2",
                "861ee3faf20193d5"
            ]
        ]
    },
    {
        "id": "df23868f08518eac",
        "type": "inject",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1950,
        "y": 320,
        "wires": [
            [
                "42145458cfe2a7f2"
            ]
        ]
    },
    {
        "id": "861ee3faf20193d5",
        "type": "debug",
        "z": "37999168f7331a03",
        "g": "80473e158615c07b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2070,
        "y": 200,
        "wires": []
    },
    {
        "id": "2e73d3539b370f2e",
        "type": "exec",
        "z": "7eac0d34c6842661",
        "g": "db6e9ffd1ee575de",
        "command": "ros2 topic list -t",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "5698da2f9ab4c85e"
            ],
            [],
            []
        ]
    },
    {
        "id": "ad063e52d51fec2f",
        "type": "inject",
        "z": "7eac0d34c6842661",
        "g": "db6e9ffd1ee575de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "2e73d3539b370f2e"
            ]
        ]
    },
    {
        "id": "5698da2f9ab4c85e",
        "type": "split",
        "z": "7eac0d34c6842661",
        "g": "db6e9ffd1ee575de",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "property": "payload",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "a024c7f35c51da3c"
            ]
        ]
    },
    {
        "id": "68b1bfde2bfbaa49",
        "type": "debug",
        "z": "7eac0d34c6842661",
        "g": "db6e9ffd1ee575de",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "644156479f22f0c9",
        "type": "ui-button",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "group": "8fa215b2d22c10a1",
        "name": "",
        "label": "Start Recording",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "1db2200d08c777e6"
            ]
        ]
    },
    {
        "id": "7194f46e9a5190e2",
        "type": "ui-button",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "group": "8fa215b2d22c10a1",
        "name": "",
        "label": "Stop Recording",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "kill",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "77458c416232bac4",
                "8e65fa084b0fff2a"
            ]
        ]
    },
    {
        "id": "09491869ce0a5c8d",
        "type": "exec",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "command": "ros2 bag record ",
        "addpay": "args",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "record",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "4a5f422bd8b69ccf"
            ],
            [
                "4a5f422bd8b69ccf"
            ],
            []
        ]
    },
    {
        "id": "1db2200d08c777e6",
        "type": "function",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "Set args",
        "func": "let topics = flow.get(\"topics\") || [];\nlet name = flow.get(\"name\") || \"\";\nlet args = \"\";\n\n\ntopics.forEach(function(topic) {\n    if(topic.selected){\n        args += topic.topic + \" \";\n    }\n});\n\nif(name != \"\" || name != null){\n    args += \"-o bags/\" + name;\n    msg.args = args;\n}else{\n    return Error\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 360,
        "wires": [
            [
                "09491869ce0a5c8d"
            ]
        ]
    },
    {
        "id": "cf098d80e782ab1b",
        "type": "ui-text",
        "z": "7eac0d34c6842661",
        "group": "8fa215b2d22c10a1",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "args",
        "valueType": "msg",
        "x": 1390,
        "y": 220,
        "wires": []
    },
    {
        "id": "2c321cb0e079f320",
        "type": "function",
        "z": "7eac0d34c6842661",
        "name": "function 6",
        "func": "let topics = flow.get(\"topics\") || [];\nlet name = flow.get(\"name\") || \"\";\nlet args = \"\";\n\n\ntopics.forEach(function(topic) {\n    if(topic.selected){\n        args += topic.topic + \" \";\n    }\n});\n\nif(name != \"\" || name != null){\n    args += \"-o bags/\" + name;\n    msg.args = args;\n}else{\n    return Error\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 220,
        "wires": [
            [
                "cf098d80e782ab1b"
            ]
        ]
    },
    {
        "id": "be3a35451c0c0662",
        "type": "ui-button",
        "z": "7eac0d34c6842661",
        "group": "8fa215b2d22c10a1",
        "name": "",
        "label": "button",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "2c321cb0e079f320"
            ]
        ]
    },
    {
        "id": "b4bac91564af5c7f",
        "type": "ui-text-input",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "group": "8fa215b2d22c10a1",
        "name": "",
        "label": "Name of ros bag",
        "order": 6,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 900,
        "y": 380,
        "wires": [
            [
                "6c77795a704531a6"
            ]
        ]
    },
    {
        "id": "6c77795a704531a6",
        "type": "function",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "name bag",
        "func": "let name = msg.payload\n\nif(name != null){\n    name = name.replaceAll(\" \", \"_\")\n    flow.set(\"name\", name);\n}\n\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "77458c416232bac4",
        "type": "function",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "Send Kill process",
        "func": "msg.kill = \"\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "09491869ce0a5c8d"
            ]
        ]
    },
    {
        "id": "4a5f422bd8b69ccf",
        "type": "ui-notification",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "ui": "0a82d6cde910b9ce",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 680,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e2af7c4b284ed16e",
        "type": "yaml",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "property": "payload",
        "name": "",
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "47f587318557bdf9"
            ]
        ]
    },
    {
        "id": "fc233579cf804a40",
        "type": "file in",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 900,
        "y": 600,
        "wires": [
            [
                "e2af7c4b284ed16e"
            ]
        ]
    },
    {
        "id": "dc0d48b2f00683af",
        "type": "exec",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "command": "ls bags",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "9e3011a5e9bb0cff",
                "d389cfe6813fb929",
                "afc2bd05f2e8482c"
            ],
            [],
            []
        ]
    },
    {
        "id": "779fb24e15e1cf94",
        "type": "function",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "set file directory",
        "func": "msg.path = \"bags/\" + msg.payload +\"/metadata.yaml\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 600,
        "wires": [
            [
                "fc233579cf804a40"
            ]
        ]
    },
    {
        "id": "9e3011a5e9bb0cff",
        "type": "function",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "Bag selection",
        "func": "msg.ui_update = {};\n\nlet str = msg.payload;\nlet options = str.split('\\n');\noptions.pop();\n\nmsg.ui_update.options = []\noptions.forEach(function(element) {\n    msg.ui_update.options.push(\n        {\n            value: element\n        }\n    )\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "b28498b9c68057ed"
            ]
        ]
    },
    {
        "id": "b28498b9c68057ed",
        "type": "ui-dropdown",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "group": "5f6433eaaffe09b8",
        "name": "",
        "label": "Select Bag to playback",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 800,
        "y": 540,
        "wires": [
            [
                "ec278fe61b7f2736",
                "ea38035bc9213be6"
            ]
        ]
    },
    {
        "id": "0894658fb8624d8e",
        "type": "ui-table",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "group": "819c0672e591b0ca",
        "name": "",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 1430,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "afc2bd05f2e8482c",
        "type": "ui-button",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "group": "819c0672e591b0ca",
        "name": "",
        "label": "clear",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 550,
        "y": 680,
        "wires": [
            [
                "0894658fb8624d8e"
            ]
        ]
    },
    {
        "id": "d389cfe6813fb929",
        "type": "split",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "property": "payload",
        "x": 550,
        "y": 600,
        "wires": [
            [
                "779fb24e15e1cf94"
            ]
        ]
    },
    {
        "id": "47f587318557bdf9",
        "type": "function",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "refactor bags infos",
        "func": "const info = msg.payload.rosbag2_bagfile_information;\n\nmsg.payload = [{\n    name: info.relative_file_paths[0].replace(\"_0.mcap\", \"\"),\n    duration: (info.duration.nanoseconds / 1e9).toFixed(2) + \" s\",\n    messages: info.message_count,\n    topics: info.topics_with_message_count.length,\n    storage: info.storage_identifier,\n    distro: info.ros_distro\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 600,
        "wires": [
            [
                "0894658fb8624d8e"
            ]
        ]
    },
    {
        "id": "35724e8a79eb4580",
        "type": "ui-button",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "group": "819c0672e591b0ca",
        "name": "",
        "label": "populate",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "dc0d48b2f00683af"
            ]
        ]
    },
    {
        "id": "8e65fa084b0fff2a",
        "type": "delay",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "dc0d48b2f00683af"
            ]
        ]
    },
    {
        "id": "4d8a2e2e37a13832",
        "type": "ui-table",
        "z": "7eac0d34c6842661",
        "g": "db6e9ffd1ee575de",
        "group": "8fa215b2d22c10a1",
        "name": "",
        "label": "Topics",
        "order": 5,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "checkbox",
        "columns": [
            {
                "title": "",
                "key": "topic",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "",
                "key": "type",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 670,
        "y": 180,
        "wires": [
            [
                "68b1bfde2bfbaa49",
                "9e0d58542b489367"
            ]
        ]
    },
    {
        "id": "a1723a3f219aec55",
        "type": "ui-button",
        "z": "7eac0d34c6842661",
        "g": "db6e9ffd1ee575de",
        "group": "8fa215b2d22c10a1",
        "name": "",
        "label": "clear",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "36a3fe263df9fbab",
                "4d8a2e2e37a13832"
            ]
        ]
    },
    {
        "id": "46214fd49d9e1022",
        "type": "ui-button",
        "z": "7eac0d34c6842661",
        "g": "db6e9ffd1ee575de",
        "group": "8fa215b2d22c10a1",
        "name": "",
        "label": "populate",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "2e73d3539b370f2e",
                "a1723a3f219aec55"
            ]
        ]
    },
    {
        "id": "a024c7f35c51da3c",
        "type": "function",
        "z": "7eac0d34c6842661",
        "g": "db6e9ffd1ee575de",
        "name": "set topics",
        "func": "let topics = flow.get(\"topics\") || []\nlet split = msg.payload.split(\" \")\n\nlet topic = split[0];\nlet type = split[1];\nlet selected = false;\n\ntopics.push(\n{\n    topic: topic,\n    type: type,\n    selected: selected\n}\n)\n\nflow.set(\"topics\", topics);\nmsg.payload = topics;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 100,
        "wires": [
            [
                "4d8a2e2e37a13832"
            ]
        ]
    },
    {
        "id": "36a3fe263df9fbab",
        "type": "function",
        "z": "7eac0d34c6842661",
        "g": "db6e9ffd1ee575de",
        "name": "reset topics",
        "func": "let topics = []\n\nflow.set(\"topics\", topics);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9e0d58542b489367",
        "type": "function",
        "z": "7eac0d34c6842661",
        "g": "db6e9ffd1ee575de",
        "name": "set topics",
        "func": "let topics = flow.get(\"topics\") || [];\n\nlet selecteds = msg.payload;\n\ntopics.forEach(function(element) {\n    element.selected = false;\n});\n\nselecteds.forEach(function(select) {\n    let i = topics.findIndex(t => t.topic === select.topic);\n    if (i !== -1) {\n        topics[i].selected = true;\n    }else{\n        topics[i].selected = false;\n    }\n});\n\nflow.set(\"topics\", topics);\nmsg.payload = topics\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ec278fe61b7f2736",
        "type": "debug",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 500,
        "wires": []
    },
    {
        "id": "ea38035bc9213be6",
        "type": "function",
        "z": "7eac0d34c6842661",
        "g": "86aa23bf3b1e6449",
        "name": "function 3",
        "func": "let sel_bag = msg.payload\n\nif(sel_bag != null){\n    flow.set(\"sel_bag\", sel_bag);\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 540,
        "wires": [
            []
        ]
    }
]